PORT=4000
JWT_SECRET=alfiyay-secret-key
ADMIN_SECRET=alfiyay-admin-secret
CLIENT_API_KEY=alfiyay-client-api-key
SUPABASE_URL=https://kavqwxkdyjkshmshyilc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImthdnF3eGtkeWprc2htc2h5aWxjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIzMjU3OSwiZXhwIjoyMDkwODA4NTc5fQ.B2igeVIfm90FDap5BrXWw6izol0-xFanb2KA7pDne1s
WORKOS_CLIENT_ID=client_01KN781XN85VA9EBK1ASX3JD6P
WORKOS_API_KEY=sk_test_a2V5XzAxS043ODFYWDVFSDZCMkIyMVdLRTFUQUo4LERjbE11T3NZU2FXa1ZxOHMzNzMwalVUTnE
WORKOS_AUDIENCE=
WORKOS_DOMAIN=
storage_MONGODB_URI=mongodb+srv://alfiyav:Feet!19972611@potholes.5wz3qbx.mongodb.net/?retryWrites=true&w=majority